Django>=3.2.15,<4.0
psycopg2>=2.9.3
djangorestframework>=3.13.1
django-cors-headers>=3.13.0
django-filter~=22.1
djangorestframework-simplejwt~=5.2.0
mixer~=7.2.2
drf-yasg~=1.21.3
graphene-django~=2.15.0
graphene
